@(title: String, next: Call)

@main( title, next ) {
  <div class="slide">
  <h1>@title</h1>
  <p>
    Querying two remote services, no threads blocked.
  </p>
  <code><pre>
def reactiveLength = Action.async {
  val futureZelig = WS.url( "http://datascience.iq.harvard.edu/zelig" ).get()<span class="note pull-right">Handle to a future value</span>
  val futureDataverse = WS.url( "http://datascience.iq.harvard.edu/dataverse" ).get()
  for {
    zelig &lt;- futureZelig <span class="note pull-right">Future value filled</span>
    dataverse &lt;- futureDataverse <span class="note pull-right">Nondeterministic ordering here</span>
  } yield Ok( if (zelig.body.length>dataverse.body.length) {"Zelig"} else {"Dataverse"})
}
  </pre></code>
  <small>Can also handle timeouts and errors, but you get the idea</small>
  </div>
}